@CHARSET "UTF-8";

@font-face {
  font-family: 'pt_sansregular';
  src: url('fonts/PTS55F-webfont.eot');
  src: url('fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/PTS55F-webfont.woff') format('woff'), url('fonts/PTS55F-webfont.ttf') format('truetype'), url('fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
font-family: 'pt_sansregular', 'PT Sans', sans-serif ! important;
font-size: 14px;
}

body {
	margin: 0px;
	padding: 0px;
}

.presentation {
	margin: 0px;
	width: 100%;
	background-color: #1a3b1c;
	position: absolute;
}

.presentation ul li {
	text-decoration: none;
	list-style: none;
}

.presentation .showslide {
	width: 65%;
}

.presentation .fspheader {
	display: none;
}

.presentation .showslidetext {
	position: absolute;
	right: 0px;
	width: 32%;
	float: right;
	margin: 0px 1%;
	height: 100%;
	top: auto;
	bottom: auto;
}

.presentation .showslide .prevslidefsm, 
	.presentation .showslide .nextslidefsm,
		.presentation .showslide .fsnumslide {
	display: none;
} 


.presentation .showslide .imageblock>img {
	border: 1px solid #000;
	width: 100%;
}

.presentation .showslidetext .textblock {
	color: #fff;
	margin-top: 10px;
	/*overflow-y: auto;*/ 
	position: absolute;
	margin-bottom: 50px;
	height: 100%;
}

.presentation .showslidetext .controlbuttons {
	position: absolute;
	right: 0px;
	bottom: -62px;
	width: 100%;
	height: 40px;
}

.presentation .showslidetext .showhideanon {
	display: none;
}

.presentation .showslidetext .controlbuttons .buttonback,
	.presentation .showslidetext .controlbuttons .modeautoslides,
		.presentation .showslidetext .controlbuttons .numslides,
			.presentation .showslidetext .controlbuttons .nextslides,
				.presentation.fullscreenmode .fspheader .fullscreenexit {
	color: #fff;
	border: 1px solid #132214;
	padding: 8px 12px;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url(backactbut.png) 0px 0px repeat-x;
}

.presentation .showslidetext .controlbuttons .buttonback,
		.presentation .showslidetext .controlbuttons .numslides {
	margin-right: 10px;

}

.presentation .showslidetext .controlbuttons .numslides {
	background: #498f4e;
}
	
.presentation .showslidetext .controlbuttons .modeautoslides {
	float: right;
	
}

.presentation .showslidetext .controlbuttons .controlbutton.buttonback {
	float: left;
}

.presentation .showslidetext .controlbuttons .controlbutton.nextslides {
	float: left;
}

.presentation .showslidetext .controlbuttons .controlbutton.inactive {
	background: url(backinactbut.png) 0px 0px repeat-x;
	color: #000;
	cursor: default;
}

.presentation .showslidetext .controlbuttons .numslides{
	float: left;
	padding: 5px 10px;
}

.presentation .showslidetext .controlbuttons .numslides>input {
	width: 16px;
	border: 0px;
	background-color: #498f4e;
	color: #fff;
	text-align: center;
}

.presentation .previewbar {
	height: 134px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #8a8a8a;
	margin-bottom: 23px;
	margin-top: 10px;
	/*overflow: hidden;
	overflow-x: auto; */
}

.presentation .previewbar .previewbarimage {
	min-width: 100%;
	height: 111px;
	overflow: hidden;
	padding-top: 13px;
}

.presentation .previewbar .previewbarimage .imagepreview {
	float: left;
	cursor: pointer;
}

.presentation .previewbar .previewbarimage .imagepreview .slidenumber {
	display: block;
	position: absolute;
	bottom: 15px;
	color: #000;
	font-weight: bold;
	width: 18px;
	height: 18px;
	text-align: right;
}

.presentation .previewbar .previewbarimage .imagepreview>img {
	float: left;
	height: 94px;
	border: 1px solid #410f0f;
	margin:0px;
	margin-left: 10px;
}

.presentation .previewbar .previewbarimage .imagepreview>img.active {
	border: 4px solid #1a3b1c;
	margin: -4px -4px -4px 6px;
	
}

.presentation .previewbar .leftback,
	.presentation .previewbar .rightback {
	position: absolute;
	top: 0px;
	width: 110px;
	height: 100%;
}

.presentation .previewbar .leftback {
	left: -110px;
	background: url(barleftback.png) 0px 0px repeat-y;
}

.presentation .previewbar .rightback {
	right: 0px;
	background: url(barrightback.png) 0px 0px repeat-y;
}

/* fullscreenmode */

.presentation.fullscreenmode {
	position: fixed;
	height: 100% !important;
	width: 100%;
	padding-top: 100px;
	background-color: #546a56;
	top: 0px;
}

.presentation.fullscreenmode .showslidetext {
	position: absolute;
	background: url(fscmodebacktext.png) 0px 0px;
	width: 100%;
	left: 0px;
	bottom: 0px;
	margin: 0;
	border-top: 1px dashed #fff;
	z-index: 1001;
}

.presentation.fullscreenmode .showslidetext .textblock {
	padding: 10px 5% 20px;
}

.presentation.fullscreenmode .showslidetext .controlbuttons {
	display: none;
}

.presentation.fullscreenmode .showslidetext .mCSB_scrollTools {
	display: none !important;
}

.presentation.fullscreenmode .showslidetext .mCSB_container {
	
}

.presentation.fullscreenmode .showslidetext .showhideanon {
	display: block;
	padding: 3px;
	color: #fff;
	border: 1px dashed #fff;
	width: 157px;
	height: 13px;
	margin: -12px auto 0px;
	background: #120404;
	text-align: center;
	font-size: 10px;
	cursor: pointer;
}

.presentation.fullscreenmode .showslide {
	width: 100%;
	position: absolute;
}

.presentation.fullscreenmode .previewbar {
	display: none;
} 

.presentation.fullscreenmode .fspheader {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 85px;
	border-bottom: 2px solid #000;
}

.presentation.fullscreenmode .fspheader a.logo {
  background: rgba(0, 0, 0, 0);
  display: block;
  height: 61px;
  left: 20px;
  position: absolute;
  top: 13px;
  width: 648px;
}

.presentation.fullscreenmode .fspheader .rightelem {
  background: #fff;
  bottom: 0;
  display: none;
  position: absolute;
  right: 2px;
  top: 0;
  width: 212px;
}

.presentation.fullscreenmode .fspheader .rightelem:before {
  border-style: solid;
  border-width: 43px 43px 43px 0;
  border-color: rgba(0, 0, 0, 0) #661818 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  content: '';
  display: block;
  height: 0px;
  left: -43px;
  position: absolute;
  top: 0;
  width: 0px;
}

.presentation.fullscreenmode .fspheader .fullscreenexit {
  position: absolute;
  top: 24px;
  right: 280px;
}

.presentation.fullscreenmode .showslide .imageblock {
  text-align: center;
}

.presentation.fullscreenmode .showslide .imageblock>img {
  width: 90%;
}

.presentation.fullscreenmode .showslide .prevslidefsm, 
	.presentation.fullscreenmode .showslide .nextslidefsm {
	display: block;
	position: fixed;
	top: 310px;
	width: 52px;
	height: 150px;
	cursor: pointer;
}

.presentation.fullscreenmode .showslide .prevslidefsm {
	background: url(fscmodeleft.png) 0px 0px no-repeat;
	left: 0px;
}

.presentation.fullscreenmode .showslide .nextslidefsm {
	background: url(fscmoderight.png) 0px 0px no-repeat;
	right: 0px;
}

.presentation.fullscreenmode .showslide .fsnumslide {
	display: block;
	position: absolute;
	margin-right: 6%;
	width: 30px;
	height: 20px;
	right: 0px;
	bottom: 40px;
	font-weight: bold;
	color: #fff;
	font-size: 200%;
}
